.server-list {
  margin-top: .5em;
}

.button-server-list-toggle {
  font-size: large;
}

.button-peer-settings-toggle {
  float: right;
}

.server-list--form {
  display: flex;
  padding: .5em 0 0;
  position: relative;
  width: 100%;

  >input {
    flex-grow: 1;
    flex-shrink: 1;
  }
  >button{
    font-size: small;
    @media (min-width: 30em) {
      font-size: unset;
    }
  }

}

.status-count {
  margin: .25em 0;
  width: 100%;

  .list {
    padding: 0;
    width: inherit;
    @media (min-width: 30em) {
      align-items: center;
      display: flex;
      min-height: 2.2em;
      padding: .25em .5em;
    }
  }

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style-type: none;
    margin-right: .5em;

    &:nth-child(odd) {
      background: var(--background-light);
    }

    @media (min-width: 30em) {
      flex-direction: column;
    }

    > span{
      &:first-child{
        margin-right: .5em;
      }
      @media (min-width: 30em) {
        margin: .25em;
      }

    }
  }
}

.filter-order {
  display: inline-flex;
  align-items: center;
}
