.server {
  border: 2px solid transparent;
  line-height: 1.4;
  max-width: 100%;
  overflow: scroll;
  padding: .2em;
  position: relative;
  text-align: left;
  transition: transform .2s;

  &:nth-child(odd) {
    background: var(--background-light);
  }

  // Extra info next to Icon
  .no-trends,
  .disabled {
    color: var(--color-error);
    margin-right: 2.2em;
    text-align: right;
  }

  .is-unreachable,
  .has-error,
  .is-new {
    padding-bottom: .25em;
    padding-left: .5em;

    >h3 {
      margin-top: 0;
    }
  }

  .is-unreachable,
  .has-error {
    h3 {
      color: var(--color-error);
      margin-bottom: 0;
    }
  }

  .is-new {
    color: var(--rt-color-warning);
  }

  .update-server-url {
    display: flex;

    > input {
      flex-grow: 1;
    }
  }
}

.server-status {
  position: absolute;
  right: .3em;

  &--active {
    svg {
      fill: var(--color-success);
    }
  }

  &--unreachable {
    fill: var(----color-error);
  }
}

.server-info {
  width: 100%;

  .server-info--details {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;

    img {
      height: 4rem;
      margin-right: .5em;
      width: auto;
    }
  }

  .server-description {
    max-width: 100%;
    overflow: scroll;
    word-break: break-all;
  }
}

.server-info--data {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  padding-bottom: .25em;
  width: 100%;
  h6 {
    margin: 0;
  }
}
