.info-bubble-icon {
  align-items: center;
  background: var(--background-light);
  border: 1px solid var(--color-text);
  border-radius: 100%;
  display: inline-flex;
  font-family: 'Arial Black', sans-serif;

  height: 1.2em;
  justify-content: center;
  margin: 0 .75em 0 .5em;
  opacity: .7;
  text-align: center;
  width: 1.2em;
}
