.threshold-input {
  align-items: center;
  display: inline-flex;
  justify-content: right;
  text-align: right;
  vertical-align: middle;

  .threshold-input--value {
    font-weight: bold;
    margin-left: .25em;
    text-align: right;
  }

  @media (min-width: 20em) {
    // Remove input[type="number"] arrows.
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type=number] {
      -moz-appearance: textfield;
    }
  }

  input[type="range"] {
    cursor: pointer;
    margin-right: .25em;
    margin-left: .25em;

    @media (max-width: 20em) {
      display: none;
    }
  }
}
