.App {
  max-width: calc(100% - 2em);
  margin: 0 auto;
}

.menu.scroll-menu {
  bottom: 1em;
  display: flex;
  flex-direction: column;
  padding: .5em;
  position: fixed;
  right: 1em;
  border-radius: .25em;
  background-color: var(--background-menu-color--darker);
  //
  >button {
    margin: 0;
    border: 1px solid var(--border-menu-color);
    &:hover {
      border-color: var(--color-text);
    }
  }


  > button:first-child {
    margin-bottom: .5em;
    min-width: 2.8em;
  }
}
